   .principal {
       background-color: rgb(96, 96, 250);
   }

   .bad {
       background-color: white;
       /* border: 2px solid white; */
       margin: 7px;
       padding: 5px;
   }

   .un {
       background-color: white;
       padding: 10px;
       margin: 5px;
   }

   .une {
       background-color: white;
       padding: 10px;
       margin-left: 85px;
   }

   .rad {
       background-color: white;
       /* border: 2px solid white; */
       margin: 7px;
       padding: 5px;
   }

   .premier {
       display: flex;
       justify-content: center;
       margin: 10px;
   }

   .prem {
       display: flex;
       justify-content: center;
       margin: 10px;
   }

   h4 {
       color: blue;
       text-align: center;
   }

   h1 {
       color: white;

   }

   .bro {
       color: white;
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
   }

   .sow {
       text-align: center;
   }

   /* {
    text-align: center;
} */
   .youht {
       position: fixed;
   }

   .princi {
       display: flex;
       justify-content: center;
       margin: 10px;
       border: 2px solid black;
       padding: 3px;
       background-color: rgb(53, 51, 51);
       margin-top: 30px;
   }

   .bg {
       border: 2px solid white;
       margin: 20px;
       background-color: white;
       color: black;
       padding: 5px;
   }

   .dg {
       color: blue;
   }

   .is {
       color: orange;
   }

   .second {
       display: flex;
       justify-content: space-around;
       border: 2px solid black;
       background-color: black;
   }

   .bari {
       display: flex;
       justify-content: center;
   }

   .cond {
       border: 1px solid black;
       margin: 20px;
       color: white;
   }

   .ba {
       background-color: white;
       display: flex;
       justify-content: space-between;
       margin: 10px;
   }

   footer {
       background-color: black;
       color: white;
       text-align: center;
       border: 1px solid rgb(71, 71, 71);
   }

   body {
       background-color: black
   }

   .ice {
       margin-top: 40px;
   }

   .span {
       text-align: center;
   }

   .also {
       background-color: yellow;
       height: 6px;
       width: 50px;
   }

   .dail {
       background-image: url(construi.jpg);
       background-repeat: no-repeat;
       height: 250px;
       background-size: cover;
       display: flex;
       justify-content: center;
   }

   .doum {
       text-align: center;
       color: rgb(194, 79, 25);
       margin-top: 100px;
   }

   #sod {
       color: white;
       background-image: url(prestation-de-service-informatique.webp);
       background-repeat: no-repeat;
       height: 250px;
       background-size: cover;
       display: flex;
       justify-content: center;

   }

   .die {
       color: white;
       text-align: center;
       margin-top: 100px;
   }

   #bad {
       display: flex;
       justify-content: center;


   }

   .abd {
       background-color: white;
       margin: 10px;
       padding: 9px;
   }

   .id {
       color: black;
   }

   #gang {
       display: flex;
       justify-content: center;
   }

   #class {
       background-color: white;
       margin: 10px;
       padding: 9px;
   }

   #king {
       background-color: rgb(96, 96, 250);
       ;
   }

   #peace {
       background-image: url(assurances-moto.jpg);
       background-repeat: no-repeat;
       height: 250px;
       background-size: cover;
       display: flex;
       justify-content: center;
   }

   #thug {
       color: yellow;
       text-align: center;
       margin-top: 100px;
   }

   .men {
       color: black;
   }